.card {
    height: 10rem;
    width: 50%;
    margin-bottom: 20px;
    padding: 24px;

    background: #735BF2;
    color: #FFF;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card strong {
    font-size: 18px;
}